/*XXL */
@media (min-width: 1200px) and (max-width:1440px){


}
/*XL */
@media (min-width: 992px) and (max-width:1200px){

}
/*LG */
@media (min-width: 768px) and (max-width:992px){

}
/*MD */
@media (min-width: 576px) and (max-width:768px){

}
/*SM */
@media (min-width: 400px) and (max-width:576px){

}
